---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import Tag from "@/components/Tag.astro";
import { DEFAULT_LOCALE } from "@/i18n/locales";
import { filterCollectionByLocale } from "@/utils/contentLocale";
import { getSharedLocaleAlternates } from "@/utils/localeAlternates";
import { getUniqueTags } from "@/utils/getUniqueTags";
import { getLocalizedSiteTitle } from "@/utils/siteMeta";
import { useTranslations } from "@/i18n";

const locale = Astro.currentLocale ?? DEFAULT_LOCALE;
const posts = filterCollectionByLocale(
  await getCollection("posts", ({ data }) => !data.draft),
  locale
);
const tags = getUniqueTags(posts);
const t = useTranslations(locale);
const siteTitle = getLocalizedSiteTitle(locale);
---

<Layout
  title={`${t.pages.tagsTitle} | ${siteTitle}`}
  localeAlternates={getSharedLocaleAlternates("tags")}
>
  <Header />

  <Breadcrumb />

  <Main pageTitle={t.pages.tagsTitle} pageDesc={t.pages.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul>
  </Main>

  <Footer />
</Layout>
